@layer base {
  @font-face {
    font-family: "OctalFont Titan";
    src: url("../../fonts/octalfont/OctalFont-Titan[wght].woff2")
      format("woff2");
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
  }
}
